#django
django==3.0.2

# to support env variables
python-dotenv==0.10.3

# to support postgresql database
psycopg2-binary==2.8.3

# django rest framework
djangorestframework==3.10.2

# web server
gunicorn==19.9.0

